@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('fonts.css');

:root {
    --border-radius-small: 9px;
    --border-radius-medium: 13px;
    --border-radius-big: 20px;
    --border-radius-large: 45px;
    --green-200: hsl(96, 63%, 58%);
    --green-400: hsl(94, 59%, 47%);
    --yellow-200: hsl(40, 100%, 62%);
    --yellow-400: hsl(40, 100%, 47%);
    --blue-200: hsl(230, 79%, 71%);
    --blue-400: hsl(229, 53%, 61%);
    --red-200: hsl(358, 71%, 58%);
    --red-400: hsl(358, 50%, 50%);
    --hsl-yellow-200: 40, 100%, 62%;
    --hsl-yellow-400: 40, 100%, 47%;
    --gray-1000: #070707;
    --gray-900: #0b0b0b;
    --gray-800: #131313;
    --gray-700: #1A1A1A;
    --gray-600: #1e1e1e;
    --gray-500: #232323;
    --gray-300: #343434;
    --gray-200: #4F4F4F;
    --gray-100: #828282;
    --gray-50: #B9B9B9;
    --gray-0: #E1E1E1;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
    /*
    Center Wahn
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    */
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #0b0b0b;
    scrollbar-width: 0px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}

h1 {
    font-size: 3rem;
    font-weight: 1000;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.1em;
}

h3 {
    margin-top: 40px;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

p {
    margin: 0;
    font-size: 1rem;
}

small {
    color: #9f9f9f;
    font-size: 0.8rem;
}

img {
    overflow: clip;
}

hr {
    width: 100%;
    border-style: solid;
    border-color: var(--gray-300);
}

img.icon {
    height: 60px;
    width: 60px;
}

h1 [hl], h2 [hl] {
    color: var(--green-200);
}

p [hl], small [hl] {
    color: var(--yellow-200);
}

a[hl] {
    color: var(--blue-200);
}

a[hl]:before {
    background: var(--blue-400) !important;
}

.warning {
    color: var(--red-200);
}

.typed-cursor {
    color: var(--green-200);
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, var(--gray-900) 100%), url('background.png') no-repeat center center;
    background-size: cover;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

header.small {
    height: 50vh;
}

header .title {
    width: 80vw;
    max-width: 90vw;
    overflow: hidden;
    padding-bottom: 2rem;
}

header .title h1 {
    font-size: 5em;
    margin: 0;
    line-height: 1.4em;
    text-shadow: 2px 8px 2px rgba(0,0,0,.8);
}

header .title h1 [hl] {
    background-image: linear-gradient(to left, #5FD400, #a1ff4b);
    color: transparent;
    background-clip: text;
    text-shadow: none;
    filter: drop-shadow(2px 8px 2px rgba(0,0,0,.8));
}

@media(max-width: 930px) {

    header .title {
        text-align: center;
    }

    header .title h1 {
        font-size: 3em;
    }
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

.nav-wrapper .logo {
    margin: 0 40px;
}

.nav-wrapper .icon {
    display: grid;
    transition: transform .1s ease-in-out;
}

.nav-wrapper .icon img {
    height: 2em;
}

.nav-wrapper .icon:hover {
    transform: scale(1.1);
}

.nav-wrapper .head-button {
    font-size: 2em;
}

.nav-wrapper .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: var(--gray-600);
    width: 100vw;
    box-shadow: 0 5px 40px rgba(0,0,0,.7);
}

.nav-wrapper .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 2;
    padding: 20px 0px;
    margin: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.nav-wrapper .nav .section {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    width: 300px;
    font-size: 22px;
    line-height: 100%;
}

.nav-wrapper .nav .section:first-child {
    justify-content: right;
}

.nav-wrapper .nav .section:last-child {
    justify-content: left;
}

.nav-wrapper .nav .section a {
    text-shadow: 1px 1px 0px rgba(0,0,0,.7);
}

.nav-wrapper .nav-mobile {
    display: none;
}

.nav-wrapper .nav-mobile-view {
    position: fixed;
    overflow: auto;
    background-color: var(--gray-800);
    top: 0;
    width: 100vw;
    height: 100%;
    transition: transform 400ms ease;
    transform: translateX(100%);
}

.nav-wrapper .nav-mobile-view.active {
    transform: translateX(0);
}

.nav-wrapper .nav-mobile-view .items {
    margin: 4em 2em;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
}

.nav-wrapper .nav-mobile-view .items .button {
    font-weight: 400;
    padding: 20px;
    gap: 1rem;
}

.nav-wrapper .nav-mobile-view .items .button img {
    width: 40px;
    height: 40px;
}


@media(max-width: 930px) {
    .nav-wrapper .nav {
        display: none;
    }

    .nav-wrapper .nav-mobile {
        display: flex !important;
    }
}


a {
    color: inherit;
    text-decoration: inherit;
    text-decoration: none;
    position: relative;
}

a:not([class]):before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.2em;
    border-radius: 4px;
    background: #a1ffa1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scaleX(0);
}

a:not([class]):hover::before {
    opacity: 1;
    transform: scaleX(1);
}

main {
    position: static;
    margin: 4vw;
    margin-top: 120px;
    padding: 0;
    /* background-color: var(--gray-1000); */
    /* box-shadow: 0 0 100px var(--gray-1000); */
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media(max-width: 930px) {
    main {
        margin: 0px;
        margin-top: 120px;
    }
}

main .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

@media(max-width: 930px) {
    main .row {
        grid-auto-flow: row;
    }
}

main .row.actions-condensed .card {
    display: none;
}

@media(max-width: 1000px) {

    main .row.actions-main .card {
        display: none;
    }

    main .row.actions-condensed .card {
        display: flex;
        justify-content: center;
        padding: 20px 4vw;
    }

    main .row.actions-condensed .card .button {
        display: inline-block;
        width: 150px;
        margin: 0 10px;
        text-align: center;
    }

}

main .row .card {
    padding: 40px;
    flex: 1 1 0;
    border: 1px solid #2f2f2f;
}

main .row .card.content-centered {
    text-align: center;
}

.side-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    width: 100%;
}

.side-img > img {
    height: auto;
    width: 300px;
}

@media(max-width: 1200px) {

    .side-img {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .side-img > img {
        height: 300px;
        width: auto;
    }
}

.features-list {
    display: grid;
    grid-auto-flow: row;
    border: 1px solid #2f2f2f;
}

.features-list .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    border-radius: var(--border-radius-big);
    background-color: var(--gray-800);
    box-sizing: border-box;
}

.features-list .card:nth-child(even) {
    margin-left: 4vw;
}

.features-list .card:nth-child(odd) {
    margin-right: 4vw;
}

.features-list .card h1 {
    font-size: 2.5rem;
}

.features-list .card p {
    font-size: 1.2rem;
}

.features-list .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.features-list .card .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

@media(max-width: 1500px) {
    
    .features-list .card {
        margin: 20px !important;
    }

}

@media(max-width: 930px) {
    .features-list .card img {
        grid-row: 1 / 2;
        width: 100%;
        border-radius: 0px !important;
    }

    .features-list .card .feature-content {
        padding: 1em;
    }

    .features-list .card {
        grid-template-columns: 1fr;
        gap: 0px;
        background-color: var(--gray-700);
    }
}

.loader {
    border: 4px solid var(--gray-300);
    border-radius: 50%;
    border-top: 4px solid var(--green-200);
    width: 3em;
    height: 3em;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.collapsible {
    border: 1px solid #2f2f2f;
}

.collapsible .title {
    border: 1px solid #2f2f2f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

.collapsible .title::after {
    content: "\002B";
    float: right;
}

.collapsible.active .title::after {
    content: "\2212";
}

.collapsible .content-wrapper {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    padding: 0 18px;
}

.collapsible .content-wrapper div:first-child {
    padding-bottom: 10px;
}

button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    font-family: inherit;
}

a.button, button {
    padding: 10px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    border-radius: var(--border-radius-medium);
    display: inline-block;
}

button:disabled, a.button.disabled {
    color: var(--gray-50);
}

a.button.flex {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

a.button.upper {
    text-transform: uppercase;
}

a.button.blue {
    background-color: var(--blue-200);
}

a.button.blue:hover {
    background-color: var(--blue-400);
}

a.button.green, button[type=submit] {
    background-color: var(--green-200);
}

a.button.green:hover, button[type=submit]:hover {
    background-color: var(--green-400);
}

a.button.gray {
    background-color: var(--gray-600);
}

a.button.gray:hover {
    background-color: var(--gray-600);
}

form .form-row {
    margin-top: 2rem;
}

form .section {
    margin-bottom: 4rem;
}

label {
    font-weight: 600;
    font-size: 1.1rem;
}

label[required]:after {
    content: " *";
    color: var(--red-400);
}

input[type=text], input[type=number], textarea {
    border: none;
    outline: none;
    padding: 0.3rem 0.7rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: var(--border-radius-small);
    background-color: var(--gray-800);
    border: 3px solid var(--gray-800);
    font-family: inherit;
    transition: border 0.1s ease-in-out;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus {
    border: 3px solid rgba(73, 241, 115, 0.5);
}

textarea {
    resize: vertical;
    height: 100px;
}

footer {
    position: relative;
    margin-top: 2vh;
    padding: 2vw 0;
    background-color: var(--gray-1000);
    border-top: 2px solid var(--gray-500);
    width: 100vw;
}

footer .content-wrapper {
    margin: auto;
    max-width: 92%;
}

footer .content-wrapper .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8em;
}

footer .content-wrapper .nav .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4em;
}

footer .content-wrapper .nav .section:last-child {
    margin-left: auto;
}

footer .content-wrapper .nav .section span {
    font-weight: 800;
    margin: 10 0px;
}

footer .content-wrapper .copyright {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

footer .content-wrapper .copyright .badge {
    width: fit-content;
}

@media(max-width: 680px) {
    footer .content-wrapper .nav {
        flex-direction: column;
        gap: 2em;
    }

    footer .content-wrapper .nav .section:last-child {
        margin-left: inherit;
    }
}
